
/* Top level definitions */
body      {font-family:sans-serif;line-height:1.2em}
img       {border-style:none;margin:0}
a         {text-decoration:none}
a:link    {color:#000080}
a:visited {color:#000080}
a:active  {color:#B22222}
a:hover   {color:#B22222}
td        {border-style:solid;border-width:0}
div       {border-style:none;border-width:0}

/* cellpadding="0" */
th, td {padding:0}
/* cellspacing="0" */
table {border-collapse:collapse; border-spacing:0}

p.mono    {font-family:monospace}

/* main section of all documents */
div.main   {width:55em;font-size:12px;margin:auto;margin-top:20px}
div.footer {border-style:solid;border-top-width:1px;padding-top:3px}
div.header {border-style:solid;border-bottom-width:1px;padding-bottom:6px}

div.header h1 {margin:0;text-align:right}

/* black on grey (default) theme */
div.box {border-style:solid;
         border-width:1px;
         border-color:#DDDDDD;
	 margin-top:3px;
	 margin-bottom:3px;
	 padding:3px}
div.box h1 {text-align:center;
	    font-size:1.2em;
	    padding:0.3em;
            margin:0;
            margin-bottom:0.5em;
            background-color:#DDDDDD}
div.box h2 {font-size:1.2em}

/* white on blue theme */
div.theme1.box h1 {color:#FFFFFF;
                    background-color:#0000CD}
div.theme1.box h2 {color:#0000CD;
                    background-color:#FFFFFF}
div.theme1.box a  {text-decoration:underline}

/* white on green theme */
div.theme2.box h1 {color:#FFFFFF;
                    background-color:#008000}
div.theme2.box h2 {color:#008000;
                    background-color:#FFFFFF}

/* white on yellow theme */
div.theme4.box h1 {color:#FFFFFF;
                    background-color:#DAA520}
div.theme4.box h2 {color:#DAA520;
                    background-color:#FFFFFF}

/* white on red theme (xmas) */
.theme3 div.box            {border-style:none}
.theme3 div.box h1         {color:#FFFFFF;
                            background-color:#FF0000}
.theme3 div.box h2         {color:#FF0000;
                            background-color:#FFFFFF}
.theme3 div.box p.caption  {text-align:right;
	                    margin-top:0}
.theme3 div.box p.message  {text-align:center;
	                    font-weight:bold;
	                    font-size:1.2em;
	                    color:#FF0000;
		            background-color:#FFFFFF}

table.regular td.warn2   {padding:0.1em;
	                  color:#FFFFFF;
                          background-color:#FF0000;
		          font-weight:bold}
table.regular td.okay    {padding:0.1em;
	                  color:#FFFFFF;
                          background-color:#00FF00;
		          font-weight:bold}

table.testing td         {text-align:center;
                          padding:0}


table.testing li.warn2   {border-color:#FF0000;
			  color:#FFFFFF;
                          background-color:#FF0000;
		          font-weight:bold}
table.testing li.warn3   {border-color:#FF0000}
table.testing li.okay    {border-color:#00FF00;
			  color:#FFFFFF;
                          background-color:#00FF00;
		          font-weight:bold}
table.testing li.none    {border-color:#FFFFFF;
			  color:#FFFFFF;
                          background-color:#FFFFFF}

table.testing ul {
 position: relative;
 padding:0;
 margin:0;
}

table.testing li {
 list-style-type:none;
 padding:0;
 white-space:nowrap;
 border-style:solid;
 border-color:#000000;
 border-width:1px;
}

table.testing ul ul {
 position: absolute;
 display: none;
 color:#FF0000;
 background-color:#FFFFFF;
 text-align:left;
 font-weight:bold;
 border-style:solid;
 border-color:#000000;
 border-width:1px;
}

table.testing a.dummy_class {display:block;text-decoration:none;color:#FFFFFF}
table.testing li.warn3 a.dummy_class {display:block;text-decoration:none;color:#000000}

/* table.testing ul:hover ul { */
/*table.testing a:active + ul { */
table.testing ul:active ul {
 display: block;
 top: 0;
 left: 100%;
 z-index:25;
}

/*table.testing a:focus + ul {*/
table.testing a:focus + ul {
 display: block;
 top: 0;
 left: 100%;
 z-index:25;
}

table.testing li li{
 list-style-type:none;
 padding:1em;
 white-space:nowrap;
 border-style:none;
}
